{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: 'lang=page.lang')
  //
  // include.title:     (String) The primary title to be displayed on the page. Already included in <title>
  //                    (Passed from: 'title=page_title')
  //
  // USAGE EXAMPLE:
  // {% include about.html lang=page.lang title=page_title %}
  // --------------------------------------------------------------------------
{% endcomment %}

{% assign lang = include.lang %}
{% assign about_data = site.data.about %}
{% assign xlators = about_data.xlators %}
{% assign dash_separator = "–" %}

{% comment %}
    Place all creds in a 3-col table to ensure alignment, with merged rows for section headings
    Center the table and shrink to content: move to style sheet when mature

    Group information with intervening section and group headings:
    - Collapse to single column if section heading
    - Column 1: leads and group headings
    - Column 2: Dash Separator
    - Column 3: Xlator creds and such
{% endcomment %}

<table style="margin: 0 auto; width: auto">

{% assign kan_xlators = xlators.kan[lang] %}
{% for xlator in kan_xlators %}
    <tr>
        <td style="padding-right: 0.5em; vertical-align: top;">
            {% if forloop.first %}
                {{ about_data.kan_xlate_lang_lead[lang] }}
            {% endif %}
        </td>
        
        <td style="padding-right: 0.5em; vertical-align: middle;">
            {% if forloop.first %}{{dash_separator}}{% endif %}
        </td>

        <td style="vertical-align: top;">
            <strong style="white-space: pre-wrap;">{{ xlator }}</strong>
        </td>
    </tr>
{% endfor %}

{% comment %}
    {# --- list of active, non-kan langs: reject langs where 'active' property is false and key name is not kan --- #}
    {# --- lead for all non-kan xlations, in this lang; once across all active non-kan langs --- #}
    {# --- non-kan langs and corresponding xlators, all in this lang --- #}
    {# --- Column 1: lang name, shown only with first xlator --- #}
    {# --- Column 2: Em Dash Separator, shown only with first xlator --- #}
    {# --- Column 3: xlator creds --- #}
    {# --- empty row for vertical separation between langs --- #}

    TODO: cleanup comments
    TODO: fix active_non_kan_langs filter; as is, it includes kan and inactive langs
{% endcomment %}

{% assign active_non_kan_langs = site.data.languages | reject: 'last.active', false | reject: 'first', 'kan' %}

{% for xlation_pair in active_non_kan_langs %}
    {% if forloop.first %}
        <tr>
            <td colspan="3">
                <h3 style="margin-top: 1em; margin-bottom: 0;">
                    {{ about_data.other_lang_xlators_lead[lang] }}
                </h3>
            </td>
        </tr>
    {% endif %}

    {% assign xlation_lang      = xlation_pair[0] %}
    {% assign xlation_lang_data = xlation_pair[1] %}

    {%if xlation_lang == "kan" or xlation_lang_data.active == false %}
        {% continue %}
    {% endif %}

    {% assign xlator_list = xlators[xlation_lang][lang] %}
   
    {% for xlator in xlator_list %}
        <tr>
            <td style="padding-right: 0.5em; vertical-align: top;">
                {% if forloop.first %}
                    {{ xlation_lang_data.name[lang] }}
                {% endif %}
            </td>
            
            <td style="padding-right: 0.5em; vertical-align: middle;">
                {% if forloop.first %}{{dash_separator}}{% endif %}
            </td>

            <td style="vertical-align: top;">
                <strong style="white-space: pre-wrap;">{{ xlator }}</strong>
            </td>
        </tr>
    {% endfor %}
{% endfor %}

    <tr>
        <td colspan="3" style="height: 1.5rem;"></td>
    </tr>


{% comment %} Website credit {% endcomment %}

    <tr>
        <td colspan="3" style="vertical-align: top;">
            {{ about_data.webdevs_lead[lang] }}: 
            <strong>
                {{ about_data.prawipra[lang] }}
            </strong>
        </td>
    </tr>

{% comment %} 
    webdev people credits, one row per person, single column; dash prefix each cred
    TODO: might need additional data and corresponding change in logic here
{% endcomment %}

{% for peep in about_data.webdev_peeps[lang] %}
    <tr>
        <td colspan="3" style="vertical-align: top;">
            {{dash_separator}} <strong style="white-space: pre-wrap;">{{ peep }}</strong>
        </td>
    </tr>
{% endfor %}

</table>
