{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: 'lang=page.lang')
  //
  // include.title:     (String) The primary title to be displayed on the page. Already included in <title>
  //                    (Passed from: 'title=page_title')
  //
  // include.chapter:   (Number) The chapter number for which content is to be presented.
  //                    (Passed from: 'chapter=chapter_number')
  //
  // USAGE EXAMPLE:
  // {% include chapter_content.html lang=page.lang title=page_title chapter=chapter_number %}
  //
  // Data for this page comes from the chapter's localized data file
  // --------------------------------------------------------------------------
{% endcomment %}

{% assign page_lang = include.lang %}
{% assign chapter_number = include.chapter %}

{% assign page_lang_data = site.data.languages[page_lang] %}
{% assign eng_lang_data = site.data.languages.eng %}

{% capture san_xlit_lang_attr %}san-{{ page_lang_data.script }}-{{ page_lang_data.region }}{% endcapture %}
{% capture san_xlit_eng_attr %}eng-{{ eng_lang_data.script }}-{{ eng_lang_data.region }}{% endcapture %}

{% assign eng_phrase_uwacha = site.data.phrases.uwacha.eng | default: "uvāca" %}
{% assign lang_phrase_uwacha = site.data.phrases.uwacha[page_lang] | default: eng_phrase_uwacha %}

{% assign speaker_data = site.data.speakers %}

{% assign verse_file_key = "v" | append: chapter_number %}
{% assign verse_data = site.data[page_lang][verse_file_key] %}

{% assign meaning_file_key = "m" | append: chapter_number %}
{% assign meaning_data = site.data[page_lang][meaning_file_key] %}

{% comment %} chapter navigation {% endcomment %}
{% if chapter_number > 1 %}
  {% assign prev_chapter_number = chapter_number | minus: 1 %}
  {% capture prev_chapter_link %}./{{ prev_chapter_number }}.html{% endcapture %}
  {% capture prev_chapter_title %}
    {% include localized_chapter_title.html lang=page_lang chapter=prev_chapter_number %}
  {% endcapture %}
  <a id="chapterNavBtnPrevious" class="chapter-nav-btn" 
    href="{{ prev_chapter_link }}"
    hreflang="mul"
    title="{{ prev_chapter_title }}">
    ≺
  </a>
{% endif %}

{% if chapter_number != 18 %}
  {% assign next_chapter_number = chapter_number | plus: 1 %}
  {% capture next_chapter_link %}./{{ next_chapter_number }}.html{% endcapture %}
  {% capture next_chapter_title %}
    {% include localized_chapter_title.html lang=page_lang chapter=next_chapter_number %}
  {% endcapture %}
  <a id="chapterNavBtnNext" class="chapter-nav-btn" 
    href="{{ next_chapter_link }}"
    hreflang="mul"
    title="{{ next_chapter_title }}">
    ≻
  </a>
{% endif %}


{% comment %} chapter content {% endcomment %}
<table style="margin: 0 auto; width: auto; max-width: 600px">

{% for kv_pair_top in verse_data %}
  {% assign verse_number = kv_pair_top[0] %} {% comment %} verse_number is string type {% endcomment %}
  {% assign verse_number_int = verse_number | to_integer %}
  {% assign verse_content = kv_pair_top[1] %}

  {% assign speaker_key = speaker_data[chapter_number][verse_number_int] %}
  {% if speaker_key %}
    {% assign speaker_name = speaker_data[speaker_key][page_lang] %}
    {% if speaker_name %}
      {% assign speaker_name_lang = san_xlit_lang_attr %}
    {% else %}
      {% assign speaker_name = speaker_key | capitalize %}
      {% assign speaker_name_lang = san_xlit_eng_attr %}
      {% assign lang_phrase_uwacha = eng_phrase_uwacha %}
    {% endif %}

    <tr class="verse-speaker" style="font-weight: 500;">
      <td colspan="2">
        <span lang="">{{ speaker_name }}</span>
        <span lang="">{{ lang_phrase_uwacha }}</span>
      </td>
    </tr>
  {% endif %}

  {% comment %}
    print verse-number, id, and meaning only if whole verse number
    - second half of a verse has v.5 format number
    - second half of a verse is part of a verse sequence
  {% endcomment %}

  {% assign verse_number_part_count = verse_number | split: "." | size %}
  {% if verse_number_part_count == 1 %}
    {% assign verse_number_output = verse_number_int %}
  {% else %}
    {% assign verse_number_output = "" %}
  {% endif %}

    <tr id="{{ verse_number_output }}" class="verse-container">
      <td lang="" class="verse-number"
          style="font-size: 1.5rem; font-weight: 500; vertical-align: top; text-align: right;">
          {{ verse_number_output }}
      </td>
      <td lang="" class="verse-content lead" style="vertical-align: top; white-space: pre-wrap;">{{ verse_content }}</td>
    </tr>

    {% comment %} a leading partial verse does not have meaning {% endcomment %}
    {% if meaning_data[verse_number_output] and verse_number_output != "" %}
      <tr class="verse-meaning">
        <td></td>
        <td lang="">{{ meaning_data[verse_number_output] }}</td>
      </tr>
    {% endif %}

{% endfor %}

</table>

{% comment %} 
  print chapter end phrase: default layout prints the chapter begin phrase (before title)
{% endcomment %}
<h3 lang="" class="center" style="margin-top: 1rem;">
  {{ site.data.phrases.iti[page_lang] }}
  {{ site.data.chapters[chapter_number].adhyaaha[page_lang] }}
</h3>

{% comment %} announce chapter end, if announcement exists {% endcomment %}
{% assign end_announcement = site.data.chapters[chapter_number].end_announcement[page_lang] %}
{% if end_announcement %}
<p lang="" class="center" style="margin-top: 1rem;">
  {{ end_announcement }}
</p>
{% endif %}
