{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: 'lang=page.lang')
  //
  // include.title:     (String) The primary title to be displayed on the page. Already included in <title>
  //                    (Passed from: 'title=page_title')
  //
  // include.chapter:   (Number) The chapter number for which content is to be presented.
  //                    (Passed from: 'chapter=chapter_number')
  //
  // USAGE EXAMPLE:
  // {% include chapter_content.html lang=page.lang title=page_title chapter=chapter_number %}
  //
  // Data for this page comes from the chapter's localized data file
  // --------------------------------------------------------------------------
{% endcomment %}

{{ content }}