{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: 'lang=page.lang')
  //
  // include.title:     (String) The primary title to be displayed on the page. Already included in <title>
  //                    (Passed from: 'title=page_title')
  //
  // include.chapter:   (number) The chapter number to show.
  //                    (Passed from: 'chapter=page.chapter')
  //
  // USAGE EXAMPLE:
  // {% include chapter_content.html lang=page.lang title=page_title chapter=page.chapter %}
  // --------------------------------------------------------------------------
{% endcomment %}

{{ content }}