{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: 'lang=page.lang')
  //
  // include.title:     (String) The primary title to be displayed on the page. Already included in <title>
  //                    (Passed from: 'title=page_title')
  //
  // USAGE EXAMPLE:
  // {% include chapters.html lang=page.lang title=page_title %}
  // --------------------------------------------------------------------------
{% endcomment %}

{% assign lang = include.lang %}

{% comment %}
    href_lang is value of hreflang attr for links to actual chapter content.
    It is always in multiple languages because those pages contain shloka text and meaning texts.

    All links to chapter content have the same href_lang
{% endcomment %}

{% assign lang_data = site.data.languages[lang] %}
{% capture href_lang %}mul-{{lang_data.script}}-{{lang_data.region}}{% endcapture %}

{% comment %}
    A 3-column "table of contents" with one row for each chapter
    - chapter number, chapter title, number of verses
    - write each col in current lang, including numbers
    - fallback to eng content if lang content unavailable
    - fallback to context-sensitive fixed content if eng content unavailable

    Show "number in words" as title, because the Vyasa original does not include chapter "titles"
    - chapter titles commonly seen (karmayoga, etc.) are later introductions

    Always write 18 rows: one per chapter
    Prefer verse count from data; use well-known count if verse count not in data
{% endcomment %}

{% assign chapters_data = site.data.chapters %}
{% assign phrases_data = site.data.phrases %}
{% assign default_verses = "47, 72, 43, 42, 29, 47, 30, 28, 34, 42, 55, 20, 35, 27, 20, 24, 28, 78" | split: ", " %}


<table style="margin: 0 auto; width: auto">

{% for chapter in (1..18) %}
    {% if forloop.first %}

    {% assign title_head_eng = phrases_data.chapter.eng %}
    {% assign verses_head_eng = phrases_data.shlokas.eng %}

    {% assign title_head_lang = phrases_data.chapter[lang] | default: title_head_eng | default: "Chapter" %}
    {% assign verses_head_lang = phrases_data.shlokas[lang] | default: verses_head_eng | default: "Verses" %}

    <tr>
        <th colspan=2 style="padding-right: 0.5em; vertical-align: top; text-align: center;"
            title="{% if title_head_eng != title_head_lang %}{{ title_head_eng }}{% endif %}">
            {{ title_head_lang }}
        </th>

        <th style="vertical-align: top;"
            title="{% if verses_head_eng != verses_head_lang %}{{ verses_head_eng }}{% endif %}">
            {{ verses_head_lang }}
        </th>
    </tr>
    {% endif %}

    {% assign number_eng = chapter %}
    {% assign title_eng = chapters_data[chapter].number_in_words.eng %}
    {% assign verses_eng = chapters_data[chapter].verses.eng %}
    {% assign literal_chapter_number_eng = "Chapter " | append: chapter %}

    {% assign number_col = chapters_data[chapter].number[lang] | default: chapter %}
    {% assign title_col = chapters_data[chapter].number_in_words[lang] | default: title_eng | default: literal_chapter_number_eng  %}
    {% assign verses_col = chapters_data[chapter].verses[lang] | default: verses_eng | default: default_verses[chapter-1] %}

    <tr>
        <td style="padding-right: 0.5em; vertical-align: top; text-align: right;"
            title="{% if number_eng != number_col %}{{ number_eng }}{% endif %}">
            {{ number_col }}.
        </td>
        
        {% capture href_path %}/{{ page.lang }}/{{ chapter }}.html{% endcapture %}

        <td style="padding-right: 0.5em; vertical-align: top;">
            <a href="{{ href_path | relative_url }}"
               hreflang="{{ href_lang }}"
               title="{% if title_eng != title_col %}{{ title_eng }}{% endif %}">
                {{ title_col  }}
            </a>
        </td>

        <td style="vertical-align: top; text-align: center;"
            title="{% if verses_eng != verses_col %}{{ verses_eng }}{% endif %}">
            {{ verses_col }}
        </td>
    </tr>
{% endfor %}

</table>
