{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: 'lang=page.lang')
  //
  // include.title:     (String) The primary title to be displayed on the page. Already included in <title>
  //                    (Passed from: 'title=page_title')
  //
  // USAGE EXAMPLE:
  // {% include index.html lang=page.lang title=page_title %}
  //
  // Data for this page comes from about.yml: there is no (need for) index.yml
  // --------------------------------------------------------------------------
{% endcomment %}

{% assign lang = include.lang %}
{% assign about_data = site.data.about %}
{% assign all_xlators = about_data.xlators %}

{% comment %} "gita" before source for eng for readability {% endcomment %}

{% if lang == 'eng' %}
    <h1>{{ about_data.gita[lang] }}</h1>
    <h2>{{ about_data.gita_source[lang] }}</h2>
{% else %}
    <h2>{{ about_data.gita_source[lang] }}</h2>
    <h1>{{ about_data.gita[lang] }}</h1>
{% endif %}


<p></p>
<p></p>
<img src="{{ '/assets/images/logo.png' | relative_url }}">
<p></p>
<p></p>

{% comment %}
    Lead for this lang xlation and xlators for this lang
    if this lang is not kan, lead for the kan xlation and all kan xlators
{% endcomment %}

<p>{{ about_data.xlate_lang_lead[lang] }}</p>

{% for xlator in all_xlators[lang][lang] %}
    {# --- styling to handle multi-line credit: move to stylesheet when mature --- #}
    <h3 style="white-space: pre-wrap;">{{ xlator }}</h3>
{% endfor %}

<p></p>

{% if lang != 'kan' %}
    <p>{{ about_data.kan_xlate_lang_lead[lang] }}</p>

    {% for xlator in all_xlators.kan[lang] %}
        <h3 style="white-space: pre-wrap;">{{ xlator }}</h3>
    {% endfor %}
{% endif %}
