{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: lang=page.lang)
  //
  // include.artifact:  (String) The terms.yaml key for the artifact whose info to print.
  //                    (Passed from: artifact="translations" or artifact="website")
  //
  // include.owner:     (String) The about.yaml key for the artifact owner.
  //                    (Passed from: owner="sura" or owner="prawipra")
  //
  // USAGE EXAMPLE:
  // {% include license.html lang=page.lang artifact="translations" owner="sura" %}
  //
  // Data for this page comes mostly from terms.yml and about.yml (only "owner" name).
  // --------------------------------------------------------------------------
{% endcomment %}

{% assign lang = include.lang %}
{% assign artifact = include.artifact %}
{% assign terms_data = site.data.terms %}

<p style="margin-top: 1rem; margin-bottom: 0.25rem;">
    {{ terms_data[artifact][lang] }} &copy; {{ "now" | date: "%Y" }}
    {{ site.data.about[include.owner][lang] }}. {{ terms_data.all_rights_reserved[lang] }}.

    <div style="display: flex; align-items: center; margin-bottom: 0.25rem;">
        {{ terms_data.distribution_license[lang] }}:&nbsp;
        <a href="{{ terms_data.grants[artifact].license_url }}">
            {{ terms_data.grants[artifact].license }}
        </a>
        &nbsp;

        {% assign default_img_style = terms_data.cc_terms.img_style %}
        {% for term in terms_data.grants[artifact].cc_terms %}
            <img src="{{ terms_data.cc_terms[term].img_src }}" 
                 style="{{ terms_data.cc_terms[term].img_style | default: default_img_style }}"
                 title="{{ terms_data.cc_terms[term].description.eng }}">
        {% endfor %}
    </div>

    <div>
        {% for term in terms_data.grants[artifact].cc_terms %}
            {% assign cc_term = terms_data.cc_terms[term] %}
            {% if cc_term.enumerate != false %}
                {{ cc_term.description[lang] }}.&nbsp;
            {% endif %}
        {% endfor %}
    </div>
</p>

{% comment %}
Translations © 2025 Dr. Shatavadhani Udupi Ramanatha Acharya. All rights reserved.
Distribution license: CC BY-NC-ND 4.0 [icons]
Attribution required.  No commerical use.  No distributing derivatives. 

Website © 2025 Praana Witala Prakaashana. All rights reserved.
Distribution license: CC BY-NC-SA 4.0 [icons]
Attribution required.  No commerical use.  Distribute under same terms. 
{% endcomment %}