{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: lang=page.lang)
  //
  // include.artifact:  (String) The about.yaml key for the artifact whose info to print.
  //                    (Passed from: artifact="translations" or artifact="website")
  //
  // include.owner:     (String) The about.yaml key for the artifact owner.
  //                    (Passed from: owner="sura" or owner="prawipra")
  //
  // USAGE EXAMPLE:
  // {% include license.html lang=page.lang artifact="translations" owner="sura" %}
  //
  // Data for this page comes from about.yml
  // --------------------------------------------------------------------------
{% endcomment %}

{% assign lang = include.lang %}
{% assign artifact = include.artifact %}
{% assign owner = include.owner %}
{% assign about_data = site.data.about %}

<p style="margin-bottom: 0.25rem">
    {{ about_data[artifact][lang] }} &copy; {{ site.time | date: "%Y" }}
    {{ about_data[owner][lang] }}. {{ about_data.all_rights_reserved[lang] }}.

    <div style="display: flex; align-items: center;">
        {{ about_data.distribution_license[lang] }}:&nbsp;
        <a href="{{ about_data.grants[artifact].license_url }}">
            {{ about_data.grants[artifact].license }}
        </a>
        &nbsp;

        {% assign default_img_style = about_data.cc_terms.img_style %}
        {% for term in about_data.grants[artifact].cc_terms %}
            <img src="{{ about_data.cc_terms[term].img_src }}" 
                 style="{{ about_data.cc_terms[term].img_style | default: default_img_style }}"
                 title="{{ about_data.cc_terms[term].description.eng }}">
        {% endfor %}
    </div>

    <div>
        {% for term in about_data.grants[artifact].cc_terms %}
            {% if enumerate != false %}
                {{ term.description[lang] }}.&nbsp;
            {% endif %}
        {% endfor %}
    </div>
</p>

{% comment %}
Translations: © 2025 Dr. Shatavadhani Ramanatha Acharya. All rigths reserved.
License: CC BY-NC-ND 4.0

Website: © 2025 Praana Wittala Prakaashana. All rigths reserved.
License: CC BY-NC-SA 4.0
{% endcomment %}