{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: lang=page.lang)
  //
  // include.artifact:  (String) The about.yaml key for the artifact whose info to print.
  //                    (Passed from: artifact="translations" or artifact="website")
  //
  // include.owner:     (String) The about.yaml key for the artifact owner.
  //                    (Passed from: owner="sura" or owner="prawipra")
  //
  // USAGE EXAMPLE:
  // {% include license.html lang=page.lang artifact="translations" owner="sura" %}
  //
  // Data for this page comes from about.yml
  // --------------------------------------------------------------------------
{% endcomment %}

{% assign lang = include.lang %}
{% assign artifact = include.artifact %}
{% assign owner = include.owner %}
{% assign about_data = site.data.about %}

<p style="margin-bottom: 0.25rem">
    {{ about_data[artifact][lang] }}:
    &copy; {{ site.time | date: "%Y" }}
    {{ about_data[owner][lang] }}. {{ about_data.all_rights_reserved[lang] }}.

    <div>
        {% assign img_style = about_data.cc_images.style %}
        {{ about_data.license[lang] }}: 
        {% for image in about_data.grants[artifact].images %}
            <img src="{{ about_data.cc_images.src[image] }}"style="{{ img_style }}">
        {% endfor %}
        <a href="{{ about_data.grants[artifact].license_url }}">
            {{ about_data.grants[artifact].license }}
        </a>
    </div>
</p>

{% comment %}
Translations: © 2025 Dr. Shatavadhani Ramanatha Acharya. All rigths reserved.
License: CC BY-NC-ND 4.0

Website: © 2025 Praana Wittala Prakaashana. All rigths reserved.
License: CC BY-NC-SA 4.0
{% endcomment %}