{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: 'lang=page.lang')
  //
  // include.chapter:   (Number) The chapter number for which title is to be printed.
  //                    (Passed from: 'chapter=chapter_number')
  //
  // USAGE EXAMPLE:
  // {% include print_chapter_title.html lang=page.lang chapter=chapter_number %}
  //
  // Print the phrase "Chapter #" localized in the specified language
  // Data for this page comes from the chapter's localized data file
  // --------------------------------------------------------------------------
{% endcomment %}

{% comment %} 
  intentionally not creating local vars such as lang and chapter_number for include params
  - shared var name changes data type of any var of the same name in the caller, even though 
    no actual type change is made here
{% endcomment %}

{% assign localized_chapter_number = site.data.chapters[include.chapter].number[include.lang] | default: include.chapter %}
{{ site.data.phrases.chapter[include.lang] | default: "Chapter" }} {{ localized_chapter_number }}
