{% comment %}
  // REQUIRED INPUTS:
  // include.lang:      (String) The language code (e.g., 'eng', 'kan') used for text lookup.
  //                    (Passed from: 'lang=page.lang')
  //
  // include.title:     (String) The primary title to be displayed on the page. Already included in <title>
  //                    (Passed from: 'title=page_title')
  //
  // USAGE EXAMPLE:
  // {% include terms.html lang=page.lang title=page_title %}
  //
  // Data for this page comes from terms.md, as is
  // --------------------------------------------------------------------------
{% endcomment %}

{% assign terms_lang = include.lang %}
{% assign terms_data = site.data.terms %}

<h3>
  {{ terms_data.heading_manual_personal_use_license[terms_lang] | default: terms_data.heading_manual_personal_use_license.eng }}
</h3>

{{ terms_data.text_manual_personal_use_license[terms_lang] | default: terms_data.text_manual_personal_use_license.eng }}

{% include license.html lang=terms_lang artifact="website" owner="prawipra" %}

{% include license.html lang=terms_lang artifact="translations" owner="sura" %}

{%- if terms_lang != "eng" -%}
<h3>
  {{ terms_data.heading_full_terms[terms_lang] | default: terms_data.heading_full_terms.eng }}
</h3>

{{ terms_data.text_full_terms[terms_lang] | default: terms_data.text_full_terms.eng }}

<div>
  <a href="../eng/terms.html" hreflang="eng-Latn-US">
    {{ site.data.languages.eng.name[terms_lang] }} {{ terms_data.version[terms_lang] }}
  </a>
</div>

{%- endif %}

{%- comment -%}
  only eng should have page content; other langs should not; but write it in case there is
  then write date stamp as human-friendly version info
{%- endcomment -%}

{{ content }}

<hr/>
{{ "now" | date: "%Y-%m-%d %H:%M" }} UTC
